.bar{
   background-color: rgb(176, 176, 176);
   /* width: 800px; */
}
/* .display{
  background-color: black;
  height: 600px;
}*/
/* .search-bar{
  border-radius: 10%;
} */
.input-group{
  font-family:'Alegreya', serif;
}
.input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: #ffbe41;
  outline: 0px;
  /* font-family: 'Alegreya', serif;; */
}
h3{
color: #810000;
text-align: center;
font-weight: 600;
font-family: 'Alegreya', serif;
}
h4{
  color: black;
  font-weight: 600;
    font-family: 'Alegreya', serif;;
  font-size: 30px;
}
h5{
  color: black;
  font-weight: 300;
  font-size: 16px;
  font-family: philosopherregular;
}
h5:hover{
  color: #ffbe41;
}

.card:hover{
  cursor:pointer;
box-shadow: 0 0 10px black;
}
.card-title{
  font-size: 18px;
  text-align: center;
  font-family: philosopher;
  font-weight: 300;
}
.card-price{
  font-size: 18px;
  text-align: center;
  font-family: philosopher;
  font-weight: 600;
}
