@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');
.content{
    position:absolute;
    color:white;
    left:50%;
    top:50%;
}

.carousel-inner{
    height: 440px;
}
.text {
    margin: 20px;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 40px;
    color: rgb(235, 156, 8);
}
.template{
    height:200px;
    background-color:aqua;
    margin-left:20px;
}
.template1{
    margin-top:20px;
    height:100px;
}
.card:hover{
  box-shadow: 0 0 10px gold;
}
