<div class="section">
    <div class="container">
        <div class="title">
            <h1>About Us</h1>
        </div>
        <div class="col-md-8 content-section">
            <div class="content">
                <!-- <h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3> -->
                <p>When it comes to choosing bridal lehengas, one of the key aspects you need to focus on is its fabric. This is important as it determines how the lehenga will sit on your body and give you the desired fit. Explore the below-mentioned options available on our platform to get the best fit to suit your needs:</p>
                <div class="button">
                    <a href="#">Read More</a>
                </div>
            </div>
           
        </div>
        <div class="col-md-4 image-section">
            <img src="../assets/images/vastrem_logo.jpg">
        </div>
    </div>
</div>
<section class="services container">

    <div class="service-title">
        <h1>Our Services</h1>
    </div>
    <div class="container-fluid mt-5 ">
        <div class="row">

            <div class="col-md-3">
                <div class=" service-card">
                    <img src="image/serv-1.svg" alt="">
                    <h3>product selling</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod.</p>
                    
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="service-card">
                    <img src="image/serv-2.svg" alt="">
                    <h3>product designing</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod.</p>
                
                </div>
            </div>

            <div class="col-md-3">
                <div class="service-card">
                    <img src="image/serv-3.svg" alt="">
                    <h3>product reviews</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod.</p>
                
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-card">
                    <img src="image/serv-3.svg" alt="">
                    <h3>24 / 7 support</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod.</p>
                    
                </div>
            </div>

        </div>
    </div>

</section>