<div class="section">
    <div class="container">
        <div class="title">
            <h1>About Us</h1>
        </div>
        <div class="col-md-8 content-section">
            <div class="content">
                <!-- <h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3> -->
                <p>Vivah's timeless celebration collection includes exquisite Sherwanis, fine Indo-Westerns, classic Kurta-Jackets for life's special moments. Not leaving behind the juniors, Vivah started with their Fusion wear line which was a delight to
                    the little ones. When it comes to choosing bridal lehengas, one of the key aspects you need to focus on is its fabric. This is important as it determines how the lehenga will sit on your body and give you the desired fit. Explore the
                    below-mentioned options available on our platform to get the best fit to suit your needs:</p>
                <div class="button">
                    <a href="#">Read More</a>
                </div>
            </div>

        </div>
        <div class="col-md-4 image-section">
            <img src="../assets/images/vastrem_logo.jpg">
        </div>
    </div>
</div>
<section class="services container">

    <div class="service-title">
        <h1>Our Services</h1>
    </div>
    <div class="container-fluid mt-5 ">
        <div class="row">

            <div class="col-md-3">
                <div class=" service-card">
                    <img src="image/serv-1.svg" alt="">
                    <h1>product selling</h1><br>
                    <h5>Wholesale products</h5>
                    <p> The traditional retail model is to buy items in large lots from a manufacturer or wholesaler and sell them individually. You can find wholesale items on our shop ana websites. You can also find suppliers by searching.</p>

                </div>
            </div>

            <div class="col-md-3 ">
                <div class="service-card">
                    <img src="image/serv-2.svg" alt="">
                    <h2>product designing</h2><br>
                    <p>The fabric of choice for product is chiffon, georgette, net or crepe. Chiffon is the most common fabric used for making lehengas. The more modern types of product material include georgette, chiffon and crepe. They are usually made
                        of silk though artificial fabrics like rayon can also be used. Georgette and chiffon are known for their soft, smooth and feminine feel while crepe has a unique crumpled texture.
                    </p>

                </div>
            </div>

            <div class="col-md-3">
                <div class="service-card">
                    <img src="image/serv-3.svg" alt="">
                    <h1>product reviews</h1><br>
                    <p>Thank you vivah for the wonderedful quality at the best price.you have very unique collection at a responsible price.Extremely satisfied with the quality. The pattern and color was much elegant than to the picture displayed,looking
                        for much more new collection especially in the trending handloom. I ordered a product in this site and it was very good pn quality.The color is ame as I ordered I like it.Happy to shop vivah.
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="service-card">
                    <img src="image/serv-3.svg" alt="">
                    <h1>24 / 7 support</h1>
                    <p>To access the Services of purchasing products from this Site, you are required to open an Account by completing the registration process (which means providing us correct, complete and accurate details as prompted in the registration
                        form). You agree that each registration to access or use of our Services on the Platform is for a single individual user only. To access the service, you will be asked to enter your individual Username and Password.

                </div>
            </div>

        </div>
    </div>

</section>