<div class="main-banner" style="background-color: #f4dbdb">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="../../assets/background-images/lehenga2-bg.webp" alt="Los Angeles" class=""
                    style="width:100%;">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../../assets/background-images/gown2-bg.webp" alt="Chicago" class="d-block"
                    style="width:100%">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../../assets/background-images/kurti.webp" alt="New York" class="d-block" style="width:100%">
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container">
        <div class="text">
            <h1>Collection</h1>
            <p>Celebration wear for women</p>
        </div>
        <div class="row">
            <div *ngFor="let item of firstimage" class="col-lg-3 col-md-5 mt-5 mb-3">
                <div class="card h-100">
                    <img (click)="viewProduct(item._id)" src="{{item.image}}" class="card-img-top" height="500px" />
                    <div class="card-body">
                        <h4 class="card-title">
                            
                            {{item.name}}
                        </h4>

                    </div>
                    <input type="hidden" name="id" value="{{item._id}}">
                </div>
            </div>
        </div>
    </div>
</div>