/* .banner {
    background-image: url("../../assets/images/mainImage.jpg");
    height: 500px;
    width: 1500px;
    background-size: cover;
    background-repeat: no-repeat;
} */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');


.main-banner {
    height: 100%;
    width: 100%;
}

.main-banner .banner {
    height: 500px;
    width: 100%;
}

.main-banner .banner img {
    height: 500px;
    width: 100%;
}

.text {
    margin: 20px;
    text-align: center;
     font-family: 'Alegreya', serif;
        font-size: 40px;
        
    color: rgb(235, 156, 8);
}
.carousel-inner{
    height: 440px;
}


/* @media only screen and (max-width:800px) {
    .banner {
        background-repeat: no-repeat;
    }
} */