<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card-1">
        <div class="wrapper">
          <div class="product-box ">
            <div class="all-images">
              <div class="small-images">
                <img #first (click)="imageChange(item.productImageFront)" [src]="item.productImageFront">
                <img #first (click)="imageChange(item.productImageBack)" [src]="item.productImageBack">
                <img #first (click)="imageChange(item.productImageLeft)" [src]="item.productImageLeft">
                <img #first (click)="imageChange(item.productImageRight)" [src]="item.productImageRight">
              </div>
              <div class="main-images">
                <img #mainImg id="mainImage" src="{{frontImage}}">
                <!-- <lib-ngx-image-zoom class="fix"
                [thumbImage]=frontImage
                [fullImage]=frontImage
                [magnification]="0.5"
                [enableScrollZoom]="true"
                [enableLens]="true"
                [lensWidth]="1500"
                [lensHeight]="1500"
                id="mainImage"
                #mainImage
            ></lib-ngx-image-zoom> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="product-content">
          <p class="_p-name"> {{item.productName}}</p>
           <h4 class="price">&#8377; {{item.productPrice}}.00</h4><br>
          <div class="_p-features"> Description:
            <span> {{item.productDescription}}</span>
          </div>
          <br>
            <ul class="spe_ul"></ul>
            <div class="_p-qty-and-cart">
              <div class="_p-add-cart">
                <button (click)="onPay(item.productPrice)" class="btn hello" >Buy Now</button>
                <button (click)="addToCart(item._id,$event.target)" class="btn hello">Add To Cart</button>
                <input type="hidden" name="pid" value="18" />
                <input type="hidden" name="price" value="850" />
                <input type="hidden" name="url" value="" />
              </div>
            </div>

