<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card-1">
            <div class="wrapper">
                <div class="product-box ">
                    <div class="all-images">
                        <div class="small-images">

                            <img #first (click)="imageChange(item.productImageFront)" [src]="item.productImageFront" >
                            <img #first (click)="imageChange(item.productImageBack)" [src]="item.productImageBack" >
                            <img #first (click)="imageChange(item.productImageLeft)"[src]="item.productImageLeft" >
                            <img #first (click)="imageChange(item.productImageRight)" [src]="item.productImageRight" >

                        </div>

                        <div class="main-images">
                            <img #mainImg id="mainImage" src="{{frontImage}}" >
                        </div>
                    </div>
                </div>
            </div>
          </div>  

    </div>
   
    <div class="col-md-6">
        <div class="card">
            <div class="product-content">
            <p class="_p-name">{{item.productName}}</p> 
            <div class="_p-price-box">
               <div class="p-list">
                  
                  <span class="price"> Rs. {{item.productPrice}}</span> 
               </div>
               <!-- <div class="_p-add-cart">
                  <div class="_p-qty">
                     <span>Add Quantity</span>
                     <div class="value-button decrease_" id="" value="Decrease Value">-</div>
                     <input type="number" name="qty" id="number" value="1" />
                     <div class="value-button increase_" id="" value="Increase Value">+</div>
                  </div>
               </div> -->
               <div class="_p-features">
                  <span> {{item.productDescription}}</span>                        
               </div>
               <form action="" method="post" accept-charset="utf-8">
                  <ul class="spe_ul"></ul>
                  <div class="_p-qty-and-cart">
                     <div class="_p-add-cart">
                        <button  (click)="buyNow()" class="btn-theme btn buy-btn" tabindex="0">
                        Buy Now
                        </button>
                      
                        <input type="hidden" name="pid" value="18" />
                        <input type="hidden" name="price" value="850" />
                        <input type="hidden" name="url" value="" />    
                    </div>
                  </div>
                  <div class="container mt-3">
                    <h3>Modal Example</h3>
                    <p>Click on the button to open the modal.</p>
                    
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                      Open modal
                    </button>
                  </div>
                  
                  <!-- The Modal -->
                  <div class="modal" id="myModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                  
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Modal Heading</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                          Modal body..
                        </div>
                  
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                  
                      </div>
                    </div>
                  </div>
                  
                  
          
    