<div class="container mt-4">
    <div class="row">
        <div class="col-12">
         <table class="table">
           <thead>
            <tr>
              <th>Image</th>
              <th>Product-Info</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total</th>
              <th>Remove</th>
          </tr>
           </thead>
           
           <tbody>
            
                <tr>
                    <td><img width="100px" height="100px" src="{{product.productList.productImageFront}}"></td>
                    <td>{{product._id}}</td>
                    <td>{{product.productList.productPrice}}</td>
                    <td>
                        <input  style="width:60px;" type="number" min="1" max=""/>
                    </td>
                    
                    <td>
                        <button class="btn btn-danger">Remove from cart</button>
                    </td>
                </tr> 
           </tbody>
         </table>
         </div>
         </div>
         </div>












