
<!-- <app-signin></app-signin> --> 
<!-- <app-signup></app-signup> -->
<app-women-productview></app-women-productview>  
<app-men-productview></app-men-productview> 
 <app-cart></app-cart> 
<app-wishlist></app-wishlist> 


<!-- <app-women-subcategory></app-women-subcategory> -->
    <!-- <app-men-product></app-men-product> -->
<!-- <app-men-subcategory></app-men-subcategory> -->
<!-- <app-navigation></app-navigation>  -->
<!-- <app-navigation></app-navigation> -->
<!-- <div class="container-fluid"> -->
    <!-- <router-outlet></router-outlet> -->
<!-- </div> -->

