<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid">
    <span class="" style="font-family:Playfair Display; font-size: 38px; font-weight: 300; color: #ffbe41;">V i v a
      h</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="main-home" class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="app-about-us" class="nav-link" aria-current="page" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a routerLink="sub-category-men" class="nav-link" aria-current="page" href="#">Men</a>
        </li>
        <li class="nav-item">
          <a routerLink="sub-category-women" class="nav-link" aria-current="page" href="#">Women</a>
        </li>
        <li class="nav-item">
          <a routerLink="add-cart" (click)="cartCall()" class="nav-link" aria-current="page" ><i style="color: #ffbe41;" class="fa fa-shopping-bag" ></i></a>
        </li>
        <li class="nav-item">
          <a routerLink="add-favourite" class="nav-link" aria-current="page"><i style="color: #ffbe41;" class="fa fa-heart" ></i></a>
        </li>
        <li class="nav-item">
          <a routerLink="search-product" class="nav-link" aria-current="page"><i class="fa fa-search" style="color: #ffbe41;" routerLink="search-product"></i></a>
        </li>
        <li class="nav-item">
          <a *ngIf='!isLoggedIn()' routerLink="signIn" class="nav-link active" aria-current="page">SignIn</a>
        </li>
        <li class="nav-item">
          <a *ngIf='!isLoggedIn()' routerLink="signUp" class="nav-link active" aria-current="page">SignUp</a>
        </li>
        <li class="nav-item">
          <a *ngIf='isLoggedIn()' (click)="signOut()" class="nav-link active" aria-current="page">SignOut</a>
        </li>
        <li class="nav-item">
          <a *ngIf='isLoggedIn()'  routerLink="user-profile" class="nav-link" aria-current="page" href="#"><i style="color: #ffbe41;" class="fa fa-user-circle" aria-hidden="true" ></i></a>
        </li>
      </ul>
        </div>
      </div>
</nav>

