<div class="header fixed-top">
    <div class="conatiner ">
        <div class="navbar">
            <div class="logo">
                <img src="../../assets/images/logo.jfif" width="50px">
            </div>
             <nav>
                 <ul id="MenuItems1">
                     <li><a routerLink="main-home" href="/">Home</a></li>
                     <!-- <li><a href="">Products</a></li> -->
                  
                    <li><a routerLink="" href="/cart/view-cart">Cart</a></li>
                    <li><a routerLink="sub-category-men" href="/cart/view-cart">Men</a></li>
                    <li><a routerLink="sub-category-women" href="/cart/view-cart">Women</a></li>
                    
                        <li class="nav-item">
                          <a class="nav-link" href="/user/logout">Sign out</a>
                        </li>
    
                          <li class="nav-item">
                            <a class="nav-link" href="/user/login">Sign in</a>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/user/create-account">Sign up</a>
                        </li>
        
                     
                 </ul>
             </nav>
   </div>
   </div>
   </div>
