<div class="main-banner">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="../../assets/background-images/indowestern-men-bg.webp" alt="Los Angeles" class="" style="width:100%;">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/background-images/men-kurta-bg.webp" alt="Chicago" class="d-block" style="width:100%">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/background-images/blazers&suits-men-bg.webp" alt="New York" class="d-block" style="width:100%">
          </div>
        </div>
    <div class="container">
        <div class="text">
            <h1>Collection</h1>
            <p>Celebration wear for men</p>
        </div>
        <div class="row">
            <div *ngFor="let item of men" class="col-lg-3 col-md-5 mt-5 mb-3">
                <div  class="card h-100">
                    <img (click)="viewProduct(item._id)" src="{{item.image}}" class="card-img-top" height="500px" />

                    <div class="card-body">
                        <h4 class="card-title" style="font-size: 18px; text-align: center; font-family: philosopherregular; color:#192537;">
                            {{item.name}}
                        </h4>
                        <h4>{{item._id}}</h4>

                    </div>
                    <input type="hidden" name="id" value="{{item._id}}">
                </div>
            </div>
        </div>
    </div>
</div>
