<div class="main-banner">
    <img src="../../assets/images/manyavar-wedding-bride-41602256011.webp">



    <div class="container">
        <div class="text">
            <h1>Collection</h1>
            <p>Celebration wear for men</p>
        </div>
        <div class="row">
            <div *ngFor="let item of men" class="col-lg-3 col-md-5 mt-5 mb-3">
                <div class="card h-100">
                    <img (click)="viewProduct(item._id)" src="{{item.image}}" class="card-img-top" height="500px" />

                    <div class="card-body">
                        <h4 class="card-title">
                            {{item.name}}
                        </h4>


                    </div>
                    <input type="hidden" name="id" value="{{item._id}}">
                </div>
            </div>
        </div>
    </div>
</div>