/* .banner {
    background-image: url("../../assets/images/mainImage.jpg");
    height: 500px;
    width: 1500px;
    background-size: cover;
    background-repeat: no-repeat;
} */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');
.main-banner {
    height: 100%;
    width: 100%;
    background-color: #f4dbdb;
    background: cover;
}

.main-banner .banner {
    height: 500px;
    width: 100%;
}

.main-banner .banner img {
    height: 500px;
    width: 100%;
}
.card:hover{
    cursor:pointer;
  box-shadow: 0 0 10px gold;
}
.text {
    margin: 20px;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 40px;
    color: #810000;
    text-transform: capitalize;
    font-weight: 600;
}
.carousel-inner{
    height: 440px;
}
.card-title{
    font-size: 18px; text-align: center; font-family: 'Alegreya', serif; color:#192537;text-transform: capitalize;
}


/* @media only screen and (max-width:800px) {
    .banner {
        background-repeat: no-repeat;
    }
} */