<button type="button" mdbBtn color="danger" class="waves-light"
  mdbPopover="And here some amazing content. It's very engaging. Right?"
  placement="right"
  mdbPopoverHeader="Dismissible popover"
  triggers="focus" mdbWavesEffect
>
  Dismissible popover
</button>
<a title="Header" data-bs-toggle="popover" data-bs-placement="bottom" data-content="Content">Bottom</a>

<div class="container">


    <div class="row">
        <div class="col-md-12">
            <h1>heello</h1>
        </div>
    </div>
</div>