<div class="main-banner">
   
    <div class="container">
        <div class="text">
            <h1>Collection</h1>
            <p>Celebration wear for men</p>
        </div>
        <div class="row">
            <div *ngFor="let item of image" class="col-lg-3 col-md-5 mt-5 mb-3">
                <div class="card h-100">
                    <img (click)="add(item._id)" src="{{item.productImageFront}}" class="card-img-top" height="500px" />
                    <div class="card-body">
       
                        <h4 class="card-title">
                            {{item.productName}}
                        </h4>

                        <span class="price"> Rs. {{item.productPrice}}</span><br>                      
                        <button  (click)="addToCart(item._id,$event.target)" class="btn hello">Add To Cart</button>
                        <button  (click)="addToCart(item._id,$event.target)" class="btn hello">Add To Wishlist</button>
                    </div>
                    <input type="hidden" name="id" value="{{item._id}}">
                </div>
            </div>
        </div>
    </div>
</div>

